* {padding:0; margin:0;}
html,body {
    width: 100%;
    height: 100%;
}
.to {
    background-image: url(images/1.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.khoi1 {
    width: 500px;
    background-color: #00000078;
    color: white;
    padding: 20px;
    text-align: center;
}